<link rel="apple-touch-icon" sizes="180x180" href="{% asset_path 'apple-touch-icon-180x180.png' %}" />
<link rel="apple-touch-icon" sizes="120x120" href="{% asset_path 'apple-touch-icon-120x120.png' %}" />
<link rel="apple-touch-icon" sizes="167x167" href="{% asset_path 'apple-touch-icon-167x167.png' %}" />
<link rel="apple-touch-icon" sizes="152x152" href="{% asset_path 'apple-touch-icon-152x152.png' %}" />
<link rel="apple-touch-icon" sizes="57x57" href="{% asset_path 'apple-touch-icon-57x57.png' %}" />
<link rel="apple-touch-icon" sizes="76x76" href="{% asset_path 'apple-touch-icon-76x76.png' %}" />

<link rel="icon" type="image/png" sizes="196x196" href="{% asset_path 'favicon-196x196.png' %}" />
<link rel="icon" type="image/png" sizes="160x160" href="{% asset_path 'favicon-160x160.png' %}" />
<link rel="icon" type="image/png" sizes="96x96" href="{% asset_path 'favicon-96x96.png' %}" />
<link rel="icon" type="image/png" sizes="32x32" href="{% asset_path 'favicon-32x32.png' %}" />
<link rel="icon" type="image/png" sizes="16x16" href="{% asset_path 'favicon-16x16.png' %}" />

<link name="msapplication-TileColor" content="#ffffff" />
<link name="msapplication-TileImage" content="{% asset_path 'mstile-144x144.png' | image  %} />
