
{% assign navigation = site.collections | where: 'navigation', true %}
{% assign navigation = navigation | reverse %}

<nav class="nav__products">
    <button class="nav__toggle">
        <span class="nav__indicator">+</span>
    </button>

    <div class="nav__products__container">
        {% for collection in navigation %}
            {% if collection.docs.size > 0 %}
                <h2 class="product__title">{{ collection.display_name }}</h2>
                <ul class="product__list">
                    {% for entry in site[collection.label] %}
                        <li class="product__list__item">
                            <a
                                class="product__list__item__link{% if entry.url == page.url %} link--active{% endif %}"
                                href="{{ entry.url }}"
                            >{{ entry.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
</nav>
