{% assign layout = page.layout %}
{% assign slug = page.slug %}

<nav class="nav__main">
    <h1>
        <a href="/">Kosmas Systems</a>
    </h1>
    <button class="nav__toggle">
        <span class="nav__indicator">+</span>
    </button>

    <div class="nav__main__container">
        {% if site.art.size > 0 %}
        <h2 class="nav__title"><a href="/art/">Art</a></h2>
        <ul class="nav__list {% if layout == 'art' or slug == 'art' %}expanded{% endif %}">
            {% for entry in site.art %}
            <li class="nav__list__item nav__list__item--indented">
                <a class="nav__list__item__link{% if entry.url == page.url %} link--active{% endif %}"
                    href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <h2 class="nav__title"><a href="/fashion/">Fashion</a></h2>
        {% assign fashion = site.collections | where: 'fashion', true | sort: 'navigation_index' %}
        {% for collection in fashion %}
        {% if collection.docs.size > 0 %}
        <ul class="nav__list {% if layout == 'product' or slug == 'fashion' %}expanded{% endif %}">
            <li class="nav__list__item">
                <h2 class="nav__title">
                    {{ collection.display_name }}</h2>
                <ul class="nav__list">
                    {% assign entries = site[collection.label] | sort_products %}
                    {% for entry in entries %}
                    <li class="nav__list__item">
                        <a class="nav__list__item__link{% if entry.url == page.url %} link--active{% endif %}"
                            href="{{ entry.url }}">{{ entry.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        {% endif %}
        {% endfor %}

        {% if site.writing.size > 0 %}
        <h2 class="nav__title"><a href="/writing/">Writing</a></h2>
        <ul class="nav__list {% if layout == 'writing' or slug == 'writing' %}expanded{% endif %}">
            {% for entry in site.writing %}
            <li class="nav__list__item nav__list__item--indented">
                <a class="nav__list__item__link{% if entry.url == page.url %} link--active{% endif %}"
                    href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <ul class="nav__list nav__list--flex">
            <!-- <li class="nav__list__item h2">
                <a href="/about">About</a>
            </li> -->
            <li class="nav__list__item h2">
                <a href="/terms-and-conditions">Terms &amp; Conditions</a>
            </li>
        </ul>
    </div>
</nav>
