<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">

    <title>{{ site.title }}{% if page.title and page.title != site.title %} : {{ page.title }}{% endif %}</title>

    <!-- meta -->
    <meta name="description" content="{{ site.data.settings.description }}">
    <meta name="google-site-verification" content="{{ site.data.settings.google_analytics_site_verification }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url"
        content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.data.settings.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{{ site.data.settings.description }}">
    <meta property="og:image" content="{{ site.data.settings.og_image | image_path }}">

    <!-- icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% asset 'apple-touch-icon-180x180.png' @path %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% asset 'apple-touch-icon-120x120.png' @path %}" />
    <link rel="apple-touch-icon" sizes="167x167" href="{% asset 'apple-touch-icon-167x167.png' @path %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% asset 'apple-touch-icon-152x152.png' @path %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% asset 'apple-touch-icon-57x57.png' @path %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% asset 'apple-touch-icon-76x76.png' @path %}" />
    <link rel="icon" type="image/png" sizes="196x196" href="{% asset 'favicon-196x196.png' @path %}" />
    <link rel="icon" type="image/png" sizes="160x160" href="{% asset 'favicon-160x160.png' @path %}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{% asset 'favicon-96x96.png' @path %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% asset 'favicon-32x32.png' @path %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% asset 'favicon-16x16.png' @path %}" />
    <link name="msapplication-TileColor" content="#ffffff" />
    <link name="msapplication-TileImage" content="{% asset 'mstile-144x144.png' @path %}" />

    <link rel="canonical"
        href="{{ page.url | replace:'index.html', '' | prepend: site.baseurl | prepend: site.data.settings.url }}">

    {% asset application.css %}

</head>

<body class="{{ page.layout }}{% if page.slug %} {{ page.layout }}__{{ page.slug }}{% endif %}">
    <div class="site">

        <header class="site__header">
            <h1><a href="/">Kosmas Systems</a></h1>
        </header>
