{% include site__head.html %}

<main>
    {% include nav__products.html %}

    <article>

        <header class="article__header">
            <h1>{{ page.title }}</h1>
            {% assign cost = page.cost | plus: 0 %}
            <p>{{ cost | currency }}</p>
        </header>

        <section class="purchase">

            {% assign in_stock = page.in_stock | plus: 0 %}
            {% if in_stock > 0 and page.paypal != empty %}
                <div>{{ page.paypal }}</div>
            {% else %}
                <strong>sold out!</strong>
            {% endif %}

        </section>

        <section class="content">
            {{ content }}
        </section>

        <section class="gallery">
            {% if page.gallery != empty and page.gallery.size > 0 %}
                {% for entry in page.gallery %}
                    <figure class="gallery__entry">
                        <img alt="{% if entry.alt != '' %}{{ entry.alt }}{% else %}{{ entry.image | remove:'/images/uploads/' }}{% endif %}" src="{{ entry.image }}" />
                    </figure>
                    {% if entry.description %}
                        <figcaption>
                            {{ entry.description }}
                        </figcaption>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </section>

    </article>
</main>

{% include site__tail.html %}
